.display_label{
	font-size: smaller;
}

.number_display{
	font-size: larger;
	font-weight: bold;
}

#footer{
	text-align: center;
}

#footer a{
	text-decoration: none;
}

.footer_logo{
	height: 80px;
	padding: 15px;
}


audio{
	display:block;
	width: 1000px;
}

#file_input{
	margin-right: 20px;
}

#emoji_display{
	font-size: 24pt;
}
